{% load spike_tags %}

<a href="#delete-modal-{{ obj|ident_slug }}" role="button" class="btn btn-mini" data-toggle="modal">
  {{ btn_name|default:"delete" }}
</a>
<div id="delete-modal-{{ obj|ident_slug }}" class="modal hide fade"
     tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Delete {{ obj|cls_name }}: &quot;{{ obj.name }}&quot;</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete: {{ obj|cls_name }}: &quot;{{ obj.name }}&quot;?! This will delete any attached
      or related data!</p>

    <p>Proceed with caution!</p>
  </div>
  <div class="modal-footer">
    <a class="btn" href="{{ obj.get_delete_url }}">Yes</a>
    <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Leave</a>
  </div>
</div>
