{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Terms of Use" %}{% endblock %}

{% block body %}
    <h1>Terms of Use:<h1>

    <p>Usage of G-Node services and infrastructure is permitted solely for the purpose of scientific work. All services are provided "as is", and G-Node assumes no liability for any loss or damage caused by their use. In particular, G-Node cannot be held liable for any loss of data. Data storage at the G-Node does not substitute for the practice of always keeping multiple independent copies of the data.</p>

    <p>If G-Node services are useful for your research, please acknowledge this support in your publications. We appreciate your sending us a copy or notice of these publications for our records.</p>

    <p>The German Neuroinformatics Node is funded by the German Ministry of Education and Research (BMBF).</p>

{% endblock %}
