{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
    <h1>Welcome to the G-Node Data Platform!</h1>

    {% if user.is_authenticated %}
        <p>Here you can upload and organize your data and share selected data with your collaborators.</p>

        <p>Data organization is structured around three main concepts, <b>Projects</b>, <b>Experiments</b>, and <b>Datasets</b>. The main menu at the top of each page reflects this structure.</p>

        <p>Uploaded <b>files</b> containing experimental data, metadata, or other information can be grouped flexibly into <b>datasets</b>. <b>Experiments</b> can be used to group files and datasets that belong to the same experiment. <b>Projects</b> can be used to organize experiments, datasets and files on a certain topic or investigation.</p>

        <p>In addition to grouping and organizing files, it is possible to <b>annotate</b> data by adding metadata in a structured hierarchy of metadata items and sections. This can also be used for a refined structured hierarchical organization of your data. This functionality is currently at an experimental stage and feedback from users is highly welcome.</p>

        <p>By default, data are visible and accessible only to the user who owns them. To <b>exchange data</b> with your collaborators or other scientists, you can make selected files, datasets, experiments, or whole projects available to specified other registered users. Or you can make them public, which means that all registered users can access them.</p>

        <p>To start, it may be useful to go to the <b>Data</b> section and upload some files containing data and metadata, and to group them in a meaningful way by creating respective datasets, experiments, or projects. The menu at the top provides access to the main sections. Here are some shortcuts to suggested tasks:</p>
        
        <dl class="what_next">
            <dt><a href="{% url datafile_create %}">upload data</a></dt>
            <dd>upload files.</dd>

            <dt><a href="{% url your_projects %}">manage my projects</a></dt>
            <dd>link experiments, join discussions and collaborations.</dd>

            <dt><a href="{% url datafiles_all %}">look for available data</a></dt>
            <dd>find data that is public or shared with you, or people with similar interests.</dd>

            <br><br>
            
	{% comment %}
            <dt><a href="{% url project_list %}">browse neuroscience projects</a></dt>
            <dd>and join discussions, collaborations or become a member.</dd>
	{% endcomment %}

            <dt><a href="{% url profile_detail user %}">edit your profile</a></dt>
            <dd>to tell others a little about yourself.</dd>
            
            <dt><a href="{% url avatar_change %}">add an avatar</a></dt>
            <dd>so people can see what you look like.</dd>
            
            <dt><a href="{% url profile_list %}">connect with other scientists</a></dt>
            <dd>so you can follow what they're up to.</dd>

	{% comment %}
            <dt><a href="{% url acct_email %}">verify an email address</a></dt>
            <dd>so you can receive notifications, reset your password and so people can find you more easily.</dd>
	{% endcomment %}

            {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                <dt><a href="{% url invitations %}">invite more scientists to the site</a></dt>
                <dd>so more people can share and get benefits.</dd>
            {% else %}
                {% if user.is_staff %}
                    <dt><a href="{% url admin_invite_user %}">invite more people to the site</a> [admin only]</dt>
                    <dd>so more people can share in the fun.</dd>
                {% endif %}
            {% endifsetting %}
        </dl>
        {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
                {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                    {% url acct_signup as signup_url %}
                    {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% endifsetting %}
            </p>
        {% endif %}
{% endblock %}
