{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}{% endblock %}

{% block subnav %}
    {% if user.is_authenticated and user.is_staff %}
        <ul>
            <li><a href="{% groupurl state_overview group %}">{% trans "System State - Overview" %}</a></li>
            <li><a href="{% groupurl object_statistics group %}">{% trans "System Objects - Statistics" %}</a></li>
            <li><a href="{% groupurl space_usage group %}">{% trans "Space Usage Report" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
