{% extends "system_dashboard/base.html" %}

{% load i18n %}

{% block head_title %}Object Statistics{% endblock %}

{% block extra_head %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
		<script type="text/javascript"> 
		var chart;
		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container',
					defaultSeriesType: 'line',
					margin: [50, 150, 60, 80]
				},
				title: {
					text: 'Projects / Experiments / Datasets / Files ',
					style: {
						margin: '10px 100px 0 0' // center it
					}
				},
				subtitle: {
					text: 'Current Statistics',
					style: {
						margin: '0 100px 0 0' // center it
					}
				},
				xAxis: {
					categories: {{ res_day_display }},
					title: {
						text: 'Time'
					}
				},
				yAxis: {
					title: {
						text: 'Quantity, (per day)'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
				},
				tooltip: {
					formatter: function() {
			                return '<b>'+ this.series.name +'</b><br/>'+
							this.x +': '+ this.y +' object(s)';
					}
				},
				legend: {
					layout: 'vertical',
					style: {
						left: 'auto',
						bottom: 'auto',
						right: '10px',
						top: '100px'
					}
				},
				series: [{
					name: 'Projects',
					data: {{ res_project }}
				}, {
					name: 'Experiments',
					data: {{ res_exprt }}
				}, {
					name: 'Datasets',
					data: {{ res_dataset }}
				}, {
					name: 'Files',
					data: {{ res_file }}
				}]
			});
			
			
		});
		</script> 
{% endblock %}

{% block body %}

    {% if user.is_authenticated and user.is_staff %}
    <div class="left_panel">
        <div class="photo-title">
            <h2>System Object Statistics</h2>
        </div>
	<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div> 
            <form method="POST" action="">
                Show Objects:<br>
                {% ifequal fltr f_1 %}
                    <input type="submit" value="{{ f_1 }}" name="filter_choice" disabled="disabled"/>
                {% else %}
                    <input type="submit" value="{{ f_1 }}" name="filter_choice"/>
                {% endifequal%}
                {% ifequal fltr f_2 %}
                    <input type="submit" value="{{ f_2 }}" name="filter_choice" disabled="disabled"/>
                {% else %}
                    <input type="submit" value="{{ f_2 }}" name="filter_choice"/>
                {% endifequal%}
                {% ifequal fltr f_3 %}
                    <input type="submit" value="{{ f_3 }}" name="filter_choice" disabled="disabled"/>
                {% else %}
                    <input type="submit" value="{{ f_3 }}" name="filter_choice"/>
                {% endifequal%}
                {% ifequal fltr f_4 %}
                    <input type="submit" value="{{ f_4 }}" name="filter_choice" disabled="disabled"/>
                {% else %}
                    <input type="submit" value="{{ f_4 }}" name="filter_choice"/>
                {% endifequal%}
                {% ifequal fltr f_5 %}
                    <input type="submit" value="{{ f_5 }}" name="filter_choice" disabled="disabled"/>
                {% else %}
                    <input type="submit" value="{{ f_5 }}" name="filter_choice"/>
                {% endifequal%}

                {% if fltr %}
                    <input type="hidden" name="fltr" value="{{ fltr }}" />
                {% endif %}                
            </form>
    </div>
    {% endif %}

{% endblock %}

