{% extends "messages/base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}inbox{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>

            <li class="first"><a href="{% url messages_inbox  %}">&laquo; {% trans "Inbox" %}</a></li>
            <li class="{% block subnavi4_class %}{% endblock %}"><a href="{% url messages_trash %}">{% trans "Messages" %}</a></li>
            <li class="{% block subnavi4a_class %}{% endblock %}"><a href="{% groupurl deletedExperiments group %} ">{% trans "Experiments" %}</a></li>
            <li class="{% block subnavi4b_class %}{% endblock %}"><a href="{% groupurl deletedDatasets group %} ">{% trans "Datasets" %}</a></li>
            <li class="{% block subnavi4c_class %}{% endblock %}"><a href="{% groupurl deletedFiles group %} ">{% trans "Files" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
