{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}inbox{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% groupurl deletedExperiments group %} ">{% trans "Deleted Experiments" %}</a></li>
            <li><a href="{% groupurl deletedDatasets group %} ">{% trans "Deleted Datasets" %}</a></li>
            <li><a href="{% groupurl deletedFiles group %} ">{% trans "Deleted Files" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
