{% extends "trash_folder/base.html" %}

{% block subnavi4a_class %}aktiv{% endblock %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Deleted Experiments{% endblocktrans %}{% endblock %}

{% block body %}
    <h1>Experiments</h1>
    
    <p>You may restore objects. Please select which you want to restore. Objects, deleted more than 30 days ago will be automatically removed from the system.</p>
    
    {% if not exp_objects %}
        <p>You don't have deleted experiments.</p>
    {% else %}


    {% autosort exp_objects %}
    {% autopaginate exp_objects 10 %}
	<p>{% trans "Order by:" %}
	    {% anchor title Name %}
	    {% anchor safety_level Privacy %}
	    {% anchor date_created Date %}
	</p>

        <form method="POST" action="">

        <table class="messages">
            <thead>
                <tr><th>{% trans "Title" %}</th><th>{% trans "In Projects" %}</th><th>{% trans "Created" %}</th><th>{% trans "State" %}</th><th>{% trans "Select" %}</th></tr>
            </thead>
            <tbody>
                {% for experiment in exp_objects %}
                    <tr>
                        <td><a href="{{ experiment.get_absolute_url }}">{{ experiment.title }}</a></td>
                        <td>
			{% for proj in experiment.in_projects.all %}
				<span><a href="{{ proj.get_absolute_url }}">{{ proj.slug }}</a>, </span>
			{% endfor %}
			</td>
                        <td>{{ experiment.date_created }}</td>
                        <td>{% if experiment.is_Public %}<b style="color: red">Public</b>{% endif %}{% if experiment.is_Friendly %}Friendly{% endif %}{% if experiment.is_Private %}Private{% endif %}</td>
                        <td><input id="id_exp_choices_{{ experiment.id }}" type="checkbox" value="{{ experiment.id }}" name="exp_choices"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	{% paginate %}

        <input type="submit" value="Restore These" />

        </form>
    {% endif %}

{% endblock %}
