{% extends "trash_folder/base.html" %}

{% block subnavi4c_class %}aktiv{% endblock %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}
{% load sorting_tags %}

{% block head_title %}{% blocktrans %}Deleted Files{% endblocktrans %}{% endblock %}

{% block body %}
        <h1>Files</h1>
        
    <p>You may restore objects. Please select which you want to restore. Objects, deleted more than 30 days ago will be automatically removed from the system.</p>
    
    {% if not fil_objects %}
        <p>You don't have deleted files.</p>
    {% else %}

    {% autosort fil_objects %}
    {% autopaginate fil_objects 10 %}
	<p>{% trans "Order by:" %}
	    {% anchor file_title Name %}
	    {% anchor file_safety_level Privacy %}
	    {% anchor file_date_added Date %}
	</p>

        <form method="POST" action="">

        <table class="messages">
            <thead>
                <tr><th>{% trans "Title" %}</th><th>{% trans "In Experiments" %}</th><th>{% trans "Created" %}</th><th>{% trans "State" %}</th><th>{% trans "Select" %}</th></tr>
            </thead>
            <tbody>
                {% for datafile in fil_objects %}
                    <tr>
                        <td><a href="{{ datafile.get_absolute_url }}">{{ datafile.title }}</a></td>
                        <td>
			{% for expt in datafile.in_expts.all %}
				<span><a href="{{ expt.get_absolute_url }}">{{ expt.title }}</a>, </span>
			{% endfor %}
			</td>
                        <td>{{ datafile.date_added }}</td>
                        <td>{% if datafile.is_Public %}<b style="color: red">Public</b>{% endif %}{% if datafile.is_Friendly %}Friendly{% endif %}{% if datafile.is_Private %}Private{% endif %}</td>
                        <td><input id="id_fil_choices_{{ datafile.id }}" type="checkbox" value="{{ datafile.id }}" name="fil_choices"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
	{% paginate %}

        <input type="submit" value="Restore These" />

        </form>
    {% endif %}
{% endblock %}
