{% extends group_base|default:"site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}wiki{% endblock %}

{% block subnav %}
        <ul>
            <li class="{% block subnavi1_class %}{% endblock %} first"><a href="{% url project_detail group.slug %}">&laquo; {{ group }}</a></li>
            <li class="{% block subnavi2_class %}{% endblock %}"><a href="{% groupurl topic_list group %}">Topics</a></li>
            <li class="{% block subnavi3_class %}{% endblock %} aktiv"><a href="{% groupurl wiki_list group %}">Wiki</a></li>
        </ul>
    <!-- 
    <ul>
        <li><a href="{% groupurl wiki_list group %} ">{% trans "All Articles" %}</a></li>
    </ul>
     -->
{% endblock %}
