[submodule "include/SpikEval"]
	path = include/SpikEval
	url = https://pmeier82@github.com/pmeier82/SpikEval.git
[submodule "include/SpikePlot"]
	path = include/SpikePlot
	url = https://pmeier82@github.com/pmeier82/SpikePlot.git
[submodule "include/docutils"]
	path = include/docutils
	url = https://github.com/qsnake/docutils.git
