[submodule "include/SpikEval"]
	path = include/SpikEval
	url = git@github.com:pmeier82/SpikEval.git
[submodule "include/SpikePlot"]
	path = include/SpikePlot
	url = git@github.com:pmeier82/SpikePlot.git
