{% extends "theme_bootstrap/base.html" %}

{% load metron_tags %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block extra_style %}
  <link href="{% static "css/gnode.css" %}" rel="stylesheet">
{% endblock %}

{% block nav %}
  <ul class="nav">
    <li class="divider-vertical"></li>
    <li id="tab_spike_home">
      <a href="{% url "spike_home" %}">{% trans "Spike" %}</a>
    </li>
    <li id="tab_benchmark">
      <a href="{% url "bm_list" %}">{% trans "Benchmark" %}</a>
    </li>
    <li id="tab_evaluation">
      <a href="{% url "ev_list" %}">{% trans "Evaluation" %}</a>
    </li>
    <li id="tab_algorithm">
      <a href="{% url "al_list" %}">{% trans "Algorithm" %}</a>
    </li>
    <li class="divider-vertical"></li>
    <li id="tab_team">
      <a href="{% url "team" %}">{% trans "Team" %}</a>
    </li>
    <li id="tab_imprint">
      <a href="{% url "imprint" %}">{% trans "Imprint" %}</a>
    </li>
    <li class="divider-vertical"></li>
    <li>
      <p class="navbar-text">
        <span class="st_facebook"></span>
        <span class="st_twitter"></span>
        <span class="st_googleplus"></span>
        <span class="st_yahoo"></span>
        <span class="st_email"></span>
      </p>
    </li>
    <li class="divider-vertical"></li>
  </ul>
{% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher:"ur-204b1c8-1bf2-5bf9-56ec-9c789af349c9"}); </script>
{% endblock %}

{% block extra_body_base %}
  {% analytics %}
  {% block extra_body %}{% endblock %}
{% endblock %}
