{% extends "spike/algorithm/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load spike_tags %}
{% load taggit_extras %}

{% block head_title %}{% trans "Algorithms" %}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <section class="well well-small">
      <div class="actions">
        <span class="label">Actions:</span>
        <a class="btn btn-mini"
           onclick="$('#create-algorithm').toggle();">Create Algorithm</a>
      </div>
      <form id="create-algorithm" class="form form-horizontal" method="POST"
            {% if not al_form.errors %}style="display:none"{% endif %}>
        <fieldset>
          <legend>Create Algorithm</legend>
          {% csrf_token %}
          {{ al_form|as_bootstrap }}
          <div class="form-actions">
            <input type="submit" class="btn btn-primary"
                   value="{% trans 'Create Algorithm' %}"/>
          </div>
        </fieldset>
      </form>
    </section>
  {% endif %}

  {% if al_list %}
    <section>
      <h2>Algorithm List
        <small>all Algorithms are listed here</small>
      </h2>
      {% with al_list as alist %}
        {% include "spike/algorithm/_list.html" %}
      {% endwith %}
    </section>
  {% endif %}

{% endblock %}
