{% extends "datafiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load sorting_tags %}
{% load datafiles_tags %}

{% block head_title %}{% blocktrans %}Search public: Files{% endblocktrans %}{% endblock %}
{% block subnavi5_class %}aktiv{% endblock %}

{% block body %}
    <h1>{% trans "Search public Datafiles" %}</h1>
    
    {% if user.is_authenticated %}

    <p>Here you can search for the datafiles, shared by others, including people you know. You may download a file and use it in your analytical work.
    On the file details page you may find out in which experiments / projects it is used.</p>
    
    <form method="GET" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <input type="submit" value="Search" />
        {% if search_terms %}
            <a href="{% clear_search_url request %}">Clear Search Terms</a>
        {% endif %}
    </form>

    {% if datafiles %}
    {% autopaginate datafiles 20 %}    
        <table class="messages">
            <thead>
                <tr><th>{% trans "Owner" %}</th><th>{% trans "Name" %}</th><th>{% trans "Caption" %}</th><th>{% trans "Size" %}</th><th>{% trans "Link" %}</th></tr>
            </thead>
            <tbody>
                {% for datafile in datafiles %}
                    <tr>
                        <td><a href="{% url profile_detail datafile.owner.username %}" title="{{ datafile.owner.username }}">{{ datafile.owner.username }}</a></td>
                        <td><a href="{{ datafile.get_absolute_url }}">{{ datafile.title }}</a></td>
                        <td>{{ datafile.caption|truncatewords:20 }}</td>
                        <td>{{ datafile.size }}</td>
                        <td><a href="{% url download datafile.id %}{{ datafile.title|urlencode }}">{% trans "download" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% paginate %}
    {% else %}
    <p>No public files were found.</p>
    {% endif %}
    
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own tribe or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
