{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}datafiles{% endblock %}

{% block navi_datasets_class %}aktiv{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
       <ul>
            <li class="{% block subnavi1_class %}{% endblock %} first"><a href="{% groupurl datafile_create group %}">{% trans "Upload a File" %}</a></li>
            <li class="{% block subnavi2_class %}{% endblock %}"><a href="{% groupurl your_datasets group %} ">{% trans "My Datasets" %}</a></li>
            <li class="{% block subnavi3_class %}{% endblock %}"><a href="{% groupurl your_datafiles group %} ">{% trans "My Files" %}</a></li>
            <li class="{% block subnavi4_class %}{% endblock %}"><a href="{% groupurl timeseries_main group %} ">{% trans "My Time Series" %}</a></li>
            <li class="{% block subnavi5_class %}{% endblock %}"><a href="{% groupurl datafiles_all group %}">{% trans "Search Shared" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
