{% extends "datafiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load truncate_filter %}

{% block head_title %}{{ datafile.title }}{% endblock %}

{% block extra_head %}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shCore.css"/> 
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shThemeDefault.css"/>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shTreeDemo.css"/>  
{% endblock %}

{% block body %}
    
    {% if datafile %}

        {% ifequal datafile.owner request.user %}
            <div class="right_panel">
                <div class="friends">
                    {% if datafile.is_Public %}
                    <h2>{% trans "Privacy" %}</h2>
                    <p>This File is <b style="color: red">Public</b> and available for other users. Members of this site may download this file.</p>
                    {% else %}
                    <h2>{% trans "Shared with:" %}</h2>
                        {% if datafile.is_Friendly %}
                            <p>All people you know
                            {% if datafile.shared_with.all %}
                            , and </p>
                                {% for exp_member in datafile.shared_with.all %}
                                        <span><a href="{% url profile_detail exp_member.username %}" title="{{ exp_member.username }}">{{ exp_member.username }}</a>, </span>
                                {% endfor %}
                            {% else %}
                                .</p>
                            {% endif %}
                        {% else %}
                            {% if datafile.shared_with.all %}
                                {% for exp_member in datafile.shared_with.all %}
                                        <span><a href="{% url profile_detail exp_member.username %}" title="{{ exp_member.username }}">{{ exp_member.username }}</a>, </span>
                                {% endfor %}
                            {% else %}
                                <p><b>Nobody</b>. Only YOU can see this File.</p>
                            {% endif %}
                        {% endif %}
                        <p>Please note, it's always ONLY YOUR exclusive right to MANAGE your files, changing its properties and privacy settings.</p>
                    {% endif %}
                </div>

                <div class="friends">
                    <h2>{% trans "Linked to:" %}</h2>
                    {% if datafile.in_projects.all %}
                    <table width="100%" style="margin-bottom: 10px;">
                        <thead>
                            <tr><th align="left">Projects</th></tr>
                        </thead>
                        {% for obj in datafile.in_projects.all %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.slug|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%} 
                    {% if par_exprts %}
                    <table width="100%" style="margin-bottom: 10px;">
                        <thead>
                            <tr><th align="left">Experiments</th></tr>
                        </thead>
                        {% for obj in par_exprts %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.title|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%}            
                    {% if par_datasets %}
                    <table width="100%" style="margin-bottom: 10px;">
                        <thead>
                            <tr><th align="left">Datasets</th></tr>
                        </thead>
                        {% for obj in par_datasets %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.title|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%}
                    {% if par_datasets or par_exprts or datafile.in_projects.all %}
                    {% else %}
                        <p>This file is not linked to any object in the system.</p>
                    {% endif%}
                    <p>You may link objects using the metadata "sections" from the object's details page.</p>
                </div>


                <div id="fileinfo" class="friends">
                    <h2>{% trans "File Info:" %}</h2>
                    {% if datafile.info %}
                    <table width="100%" style="margin-bottom: 10px;">
                        {% for key, value in datafile.info.items %}
                            <tr><td>{{ key }}: <b>{{ value }}</b></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%}
                    {% if datafile.is_archive %}
                        {% if datafile.extracted == "succeded" %}
                            <p>Files from this archive were successfully extracted.</p>
                        {% else %}
                        {% if datafile.extracted == "processing" %}
                            <p>Files from this archive are being extracted. Please be patient.</p>
                        {% else %}
                        {% if datafile.extracted == "failed" %}
                            <p>We failed to extract the files from this archive. Please check the file, it may be broken. To get files extracted, please upload a new archive.</p>
                        {% else %}
                            <p>You may extract files from this archive. Press <a href="#" onclick="extract({{ datafile.id }})">extract</a> to start decompressing process. G-Node makes an appropriate metadata Section for every folder extracted. New files are linked to the related Section, just as they are in the original archive. After the archive is processed, you may find newly created files inside this datafile.</p>
                        {% endif %}{% endif %}{% endif %}
                    {% else %}
                        <p>The file is not of any supported compressed file types.</p>
                    {% endif %}
                    {% if datafile.convertible %}
                        <p>This file is convertible. You may convert it to native G-Node NEO format to see it's contents, as well as export it to HDF5 file format and download. This feature is coming later.</p>
                    {% endif%}
                </div>
            </div>
        {% endifequal %}
    
    <div class="left_panel">
        <div class="photo-title">
            <h2>File: {{ datafile.title }} {% if not datafile.isActive %}(DELETED){% endif %}</h2>
        </div>

        <div id="datasethead">
	        <table>
	          <tbody>
	          <tr>
	            <td><strong>Description:</strong></td>
	            <td>{{ datafile.caption }}</td>
	          </tr>
	          <tr>
	            <td><strong>Date Created:</strong> </td>
	            <td>{{ datafile.date_added|date:"Y-m-d H:i" }}</td>
	          </tr>
	          <tr>
	            <td><strong>Volume:</strong> </td>
	            <td>{{ datafile.size }}</td>
	          </tr>
	          {% ifnotequal datafile.owner request.user%}
		          <tr>
		            <td><strong>Owner:</strong></td>
		            <td><a href="{% url profile_detail datafile.owner.username %}">{{ datafile.owner.username }}</a></td>
		          </tr>
	          {% endifnotequal %}
	          <tr>
	            <td><strong>&nbsp;</strong></td>
	            <td>{% show_tags_for datafile %}</td>
	          </tr>	          
		     </tbody>
		   </table>
        </div>  

        {% ifequal request.user datafile.owner %}
            <div class="form-toggle">
                <p><span id="edit-details-toggle">{% trans "Edit details" %}</span>
                <span id="change-privacy-toggle">{% trans "Privacy Settings" %}</span></p>
            {% with datafile_form as edit_form %}
                {% include "state_machine/edit_details.html" %}
            {% endwith %}

            {% with privacy_form as privacy_form %}
                {% include "state_machine/edit_privacy.html" %}
            {% endwith %}
            </div>
        {% endifequal %}
        <p>You may <a href="{% url download datafile.id %}{{ datafile.title|urlencode }}">Download</a> {% ifequal request.user datafile.owner %}your{% else %}this{% endifequal %} File.
        

        {% if datafile.has_metadata %}
        <h2>{% trans "Related Data and Metadata" %}</h2>

        {% with datafile as tree_container %}
        {% ifequal request.user datafile.owner %}
            {% comment %} PAPA is used to indicate which metadata buttons to render, 
                    depending on object type {% endcomment %}
            {% with "datafile" as papa %}
            <p>You may describe the contents of the file using odML sections and properties. Please use the area below to annotate - create a tree of sections you need, describe Metadata using properties, link Time Series to any section within the tree. Search, copy and paste functions may help you to save time.</p>
                {% include "metadata/section_buttons.html" %}
            {% endwith %}
            <div id="form-add-section" style="padding: 0; margin: 0; display:none">
                {% include "metadata/section_add.html" %}
                <div id="default_properties_area" style="height: 209px; width: 500px; padding-left: 10px; overflow: auto;">
                    {% include "metadata/properties_list.html" %}
                </div>
            </div>
        {% endifequal %}

        <div style="padding: 6px 0px 0px 0px; margin: 0;">
                {% include "metadata/sections_tree.html" %}
            <div id="properties_area" style="width: 515px; padding-left: 210px">
                {% include "metadata/properties_list.html" %}
            </div>
        </div>
        {% endwith %}

        {% else %}
        {% ifequal request.user datafile.owner %}

        <p>This File has no METADATA yet. You may describe the contents of the File (as well as link your Time Series to it) using odML sections and properties. Start by <a href="#" onclick="add_root_section({{ datafile.id }}, 5)">adding the root section</a> now.</p>
        {% endifequal %}
        {% endif %}
            
        </div>

    {% else %}
    <p>There is no data about this file.</p>
    {% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/clear_selection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_root_section.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_details_privacy.js"></script>

    {% if datafile.has_metadata %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/delete_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_property.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hide_metadata_forms.js"></script>
    {% with datafile as tree_container %}
        {% include "metadata/load_meta_tree.html" %}
    {% endwith %}
    <script type="text/javascript">
        $(document.getElementById("sections")).ready(function() {
        // 3 - Section
            load_meta_tree(3);
            load_default_meta_tree(3);
            $('#add-property-toggle').click(function() {
                hide_metadata_forms("add-property");
                $('#add-property').toggle();
                return false;
            });
            if ($('#add-property .error').length) {
                $('#add-property').show();
                $('#add-property .error').autoscroll();
            };
            $('#link-timeseries-toggle').click(function() {
                hide_metadata_forms("add-timeseries");
                $('#add-timeseries').toggle();
                return false;
            });
            $('#import-odml-toggle').click(function() {
                hide_metadata_forms("import-odml");
                $('#add-odml').toggle();
                return false;
            });
        });
    </script>
    {% endif %}
{% endblock %}
