{% extends "datafiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load humanize %}
{% load pagination_tags %}
{% load order_by %}
{% load extra_tagging_tags %}
{% load sorting_tags %}
{% load truncate_filter %}

{% block head_title %}{% blocktrans %}My Datafiles{% endblocktrans %}{% endblock %}
{% block subnavi3_class %}aktiv{% endblock %}

{% block body %}
    <h1>{% trans "My Datafiles" %}</h1>
    
    <p>{% trans "Files may contain data, <b>metadata</b>, or other information. Files file may be grouped into <b>Datasets</b>, linked to <b>Experiments</b> or <b>Projects</b>, and can be published or shared with other users." %}</p>
    {% if user.is_authenticated %}
    
    {% if not datafiles %}
        <p>You don't have uploaded files. You may <a href="{% url datafile_create %}">Upload</a> one.</p>
    {% else %}
        <p><a href="{% url datafile_create %}">Upload</a> a file.</p>

        {% autosort datafiles %}
        {% autopaginate datafiles 20 %}
            <p>{% trans "Order by:" %}
                {% anchor title Name %}
                {% anchor safety_level Privacy %}
                {% anchor date_added Date %}
            </p>
        
        <form method="POST" action="">
            
        <table class="messages">
            <thead>
                <tr><th>{% trans "Name" %}</th><th>{% trans "Description" %}</th><th>{% trans "Date Created" %}</th><th>{% trans "Size" %}</th><th>{% trans "Linked To" %}</th><th>{% trans "State" %}</th><th>{% trans "Action" %}</th><th>{% trans "Select" %}</th></tr>
            </thead>
            <tbody>
                {% for datafile in datafiles %}
                    <tr>
                        <td><a href="{{ datafile.get_absolute_url }}">{{ datafile.title }}</a></td>
                        <td><span style="color: grey">{{ datafile.caption|truncate_dot:100|escape }}</span></td>
                        <td><nobr>{{ datafile.date_added|date:"Y-m-d H:i" }}</nobr></td>
                        <td><nobr>{{ datafile.size }}</nobr></td>
                        <td>
                            {% for prj in datafile.in_projects.all %}
                                <span><a href="{{ prj.get_absolute_url }}">{{ prj.slug }}</a>, </span>
                            {% endfor %}
                        </td>
                        <td>{% if datafile.is_Public %}<b style="color: red">Public</b>{% endif %}{% if datafile.is_Friendly %}Friendly{% endif %}{% if datafile.is_Private %}Private{% endif %}</td>
                        <td><nobr><a href="{% url datafile_delete datafile.id %}">{% trans "delete" %}</a> <a href="{% url download datafile.id %}{{ datafile.title|urlencode }}">{% trans "download" %}</a></nobr></td>
                        <td><input id="id_set_choices_{{ datafile.id }}" type="checkbox" value="{{ datafile.id }}" name="set_choices"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    	{% paginate %}
        
        <input type="hidden" name="action" value="delete" />
        <input type="submit" value="{% trans "delete selected" %}"/>

        </form>
    {% endif %}
    
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to upload and share your own files.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
