#container { 
    width:800px; 
    margin:10px auto; 
    overflow:hidden; 
}
.demo { 
    height:300px; 
    width:200px; 
    margin-top:3px; 
    border:1px solid gray; 
    float:left; 
    overflow-x:auto; 
    overflow-y:auto; 
    font-family:Verdana; 
    font-size:10px; 
    background:white; 
}
.templates { 
    height:150px; 
    width:200px; 
    margin-top:3px; 
    border:1px solid gray; 
    float:left; 
    overflow-x:auto; 
    overflow-y:auto; 
    font-family:Verdana; 
    font-size:10px; 
    background:white; 
}
.code { 
    width:490px; 
    float:right; 
    margin:0 0 10px 0; 
    border:1px solid gray; 
}
pre { 
    display:block; 
}
.syntaxhighlighter { 
    margin:0 0 0 0 !important; 
    padding:0 !important; 
}
