{% extends "spike/algorithm/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load pagination_tags %}
{% load spike_tags %}

{% block head_title %}{A:{{ al.id }}}&nbsp;{{ al }}{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    {% if al.owner == user or user.is_superuser %}
      <form class="form well">
        <span class="label">Actions:</span>
        <a id="edit-algorithm-toggle" class="btn btn-mini"> {% trans "Edit Algorithm" %}</a>
        {% with obj=al btn_name="Delete Algorithm" %}
          {% include "spike/_delete.html" %}
        {% endwith %}
        <a id="create-appendix-toggle" class="btn btn-mini"> {% trans "Create Appendix" %}</a>
      </form>
      <form id="edit-algorithm" method="POST" style="display:none" class="form form-horizontal well">
        <fieldset>
          <legend>Edit Algorithm</legend>
          {% csrf_token %}
          {{ al_form|as_bootstrap }}
          <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="al_edit"
                   value="{% trans 'Edit Algorithm' %}"/>
          </div>
        </fieldset>
      </form>
      <form id="create-appendix" method="POST" enctype="multipart/form-data"
            style="display:none" class="form form-horizontal well">
        <fieldset>
          <legend>Create Appendix</legend>
          {% csrf_token %}
          {{ ap_form|as_bootstrap }}
          <div class="form-actions">
            <input type="submit" class="btn btn-primary" name="ap_create"
                   value="{% trans 'Create Appendix' %}"/>
          </div>
        </fieldset>
      </form>
    {% endif %}
  {% endif %}

  <header class="jumbotron">
    <h2>{{ al }}</h2>
    <dl class="dl-horizontal">
      <dt>
        <strong>Description:</strong>
      </dt>
      <dd>
        {{ al.description|default:"no description" }}
      </dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>
        <strong>Owner:</strong>
      </dt>
      <dd>
        {% icn_profile al %}
        {% ifequal al.owner request.user %}(you){% endifequal %}
        </nobr>
      </dd>
      <dt>
        <strong>Created:</strong>
      </dt>
      <dd>
        {% icn_time al.created %}
      </dd>
      <dt>
        <strong>Modified:</strong>
      </dt>
      <dd>
        {% icn_time al.modified %}
      </dd>
      <dt>
        <strong>Kind:</strong>
      </dt>
      <dd>
        {% for kind in al.kind.all %}
          <i class="icon-tag"></i>&nbsp;{{ kind }}&nbsp;
        {% empty %}
          &nbsp;
        {% endfor %}
      </dd>
    </dl>
  </header>

  {% with al as obj %}
    {% include "spike/_appendix.html" %}
  {% endwith %}

{% endblock %}

{% block extra_body %}
  <script type="text/javascript">
    $(document).ready(function () {
      $('#edit-algorithm-toggle').click(function () {
        $('#create-appendix').hide();
        $('#edit-algorithm').toggle();
        return false;
      });
      if ($('#edit-algorithm .error').length) {
        $('#edit-algorithm').show();
        $('#edit-algorithm .error').autoscroll();
      }
      ;
      $('#create-appendix-toggle').click(function () {
        $('#edit-algorithm').hide();
        $('#create-appendix').toggle();
        return false;
      });
      if ($('#create-appendix .error').length) {
        $('#create-appendix').show();
        $('#create-appendix .error').autoscroll();
      }
      ;
    });
  </script>
{% endblock %}
