{% extends "datasets/base.html" %}

{% load i18n %}
{% load humanize %}
{% load uni_form %}
{% load pagination_tags %}
{% load truncate_filter %}
{% load tagging_tags %}
{% load extra_tagging_tags %}
{% load timeseries_tags %}

{% block head_title %}{% blocktrans %}My Time Series data{% endblocktrans %}{% endblock %}
{% block subnavi4_class %}aktiv{% endblock %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shCore.css"/> 
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shThemeDefault.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shTreeDemo.css"/>  
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
   var chart;
   chart = new Highcharts.Chart({
   chart: {
      renderTo: 'container',
      zoomType: 'x'
   },
        title: {
      text: '{{ tserie.title }}'
   },
        subtitle: {
      text: 'Click and drag in the plot area to zoom in'
   },
   xAxis: {
      maxZoom: 2 * {{ t_serie.get_time_step }}, 
      title: {
         text: null
      }
   },
   yAxis: {
      title: {
         text: ''
      },
      //min: 0.6,
      startOnTick: false,
      showFirstLabel: false
   },
   tooltip: {
      formatter: function() {
         return 'x: ' + Highcharts.numberFormat(this.x, 2) + '<br>' +
            'y: '+ Highcharts.numberFormat(this.y, 2) +' mV';

      }
   },
   legend: {
      enabled: false
   },
   plotOptions: {
      area: {
         fillColor: {
            linearGradient: [0, 0, 0, 300],
            stops: [
               [0, 'rgba(255,255,0,0)'],
               [1, 'rgba(0,0,0,0)']
            ]
         },
         lineWidth: 1,
         marker: {
            enabled: false,
            states: {
               hover: {
                  enabled: true,
                  radius: 3
               }
            }
         },
         shadow: false,
         states: {
            hover: {
               lineWidth: 1                  
            }
         }
      }
   },

   series: [{
      type: 'area',
      name: '',
      pointInterval: {{ t_serie.get_time_step }},
      pointStart: {{ chunks_start }},
      data: [
        {{ data_chunks }}
      ]
   }]
})
});
</script>
{% endblock %}

{% block body %}

        <div class="right_panel">

        {% if t_serie %}
        {% ifequal t_serie.owner request.user %}
                <div class="friends">
                    {% if t_serie.is_Public %}
                    <h2>{% trans "Privacy" %}</h2>
                    <p>This Time Serie is <b style="color: red">Public</b> and available for other users. Members of this site may explore this Time Serie.</p>
                    {% else %}
                    <h2>{% trans "Shared with:" %}</h2>
                        {% if t_serie.is_Friendly %}
                            <p>All people you know
                            {% if t_serie.shared_with.all %}
                            , and </p>
                                {% for exp_member in t_serie.shared_with.all %}
                                        <span><a href="{% url profile_detail exp_member.username %}" title="{{ exp_member.username }}">{{ exp_member.username }}</a>, </span>
                                {% endfor %}
                            {% else %}
                                .</p>
                            {% endif %}
                        {% else %}
                            {% if t_serie.shared_with.all %}
                                {% for exp_member in t_serie.shared_with.all %}
                                        <span><a href="{% url profile_detail exp_member.username %}" title="{{ exp_member.username }}">{{ exp_member.username }}</a>, </span>
                                {% endfor %}
                            {% else %}
                                <p><b>Nobody</b>. Only YOU can see this Time Serie.</p>
                            {% endif %}
                        {% endif %}
                        <p>Please note, it's always ONLY YOUR exclusive right to MANAGE your Time Series data, changing its properties and privacy settings.</p>
                    {% endif %}
                </div>
        {% endifequal %}

                <div class="friends">
                    <h2>{% trans "Linked to:" %}</h2>
                    {% if par_exprts %}
                    <table width="100%" style="margin-bottom: 10px;">
                        <thead>
                            <tr><th align="left">Experiments</th></tr>
                        </thead>
                        {% for obj in par_exprts %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.title|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%}            
                    {% if par_datasets %}
                    <table width="100%" style="margin-bottom: 10px;">
                        <thead>
                            <tr><th align="left">Datasets</th></tr>
                        </thead>
                        {% for obj in par_datasets %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.title|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%}
                    {% if par_datafiles %}
                    <table width="100%" style="margin-bottom: 10px;">
                        <thead>
                            <tr><th align="left">Files</th></tr>
                        </thead>
                        {% for obj in par_datafiles %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.title|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>
                    {% endif%}
                    {% if par_datasets or par_exprts or par_datafiles %}
                    {% else %}
                        <p>This Time Serie is not linked to any object in the system.</p>
                    {% endif%}
                    <p>You may link objects using the metadata "sections" from the object's details page.</p>
                </div>
        {% endif %}

            <div class="friends">
                <h2>{% trans "Time Series" %}</h2>
                    <form method="GET" action="">
                        <input type="text" name="search" value="{{ search_terms }}" />
                        <input type="submit" value="Search" />
                        {% if search_terms %}
                            <a href="{% clear_search_url request %}">Clear Search</a>
                        {% endif %}
                    </form>
        	        <form id="delete-exprts" method="POST" action="">
                    {% autopaginate timeseries 15 %}
                    <table width="100%">
                        <tr><th>{% trans "No." %}</th><th>{% trans "Owner" %}</th></tr>
                        {% for tserie in timeseries %}
                            <tr>
                                <td>- <a href="{{ tserie.get_absolute_url }}">{{ tserie.title|truncate_dot:10|escape }}</a></td>
                                <td><a href="{% url profile_detail tserie.owner.username %}" title="{{ tserie.owner.username }}">{{ tserie.owner.username }}</a></td>
				                {% ifequal user tserie.owner %}
				                <td align=right><input id="id_serie_choices_{{ tserie.id }}" type="checkbox" value="{{ tserie.id }}" name="serie_choices"/></td>
				                {% endifequal %}
                            </tr>
                        {% endfor %}
                    </table>    
			            <input type="hidden" name="action" value="timeseries_delete"/>
			            <input type="submit" value="delete selected"/>

                	{% paginate %}
                    </form>
            </div>
        </div>


        <div class="left_panel">
        <div class="form-toggle">
            <p>
                <span id="add-timeseries-toggle" onclick="$('#edit-timeseries').hide(); $('#add-from-file').hide(); $('#add-timeseries').toggle();">{% trans "Add Time Serie" %}</span>
                <span id="add-from-file-toggle" onclick="$('#edit-timeseries').hide(); $('#add-timeseries').hide(); $('#add-from-file').toggle();">{% trans "Extract from File" %}</span>
            </p>
            <div id="form-add-timeseries">
                <form class="uniForm" id="add-timeseries" method="POST" action="" style="display:{{ tserie_add_form_status }}">
                    <fieldset class="inlineLabels">
                        {{ tserie_add_form|as_uni_form }}
                        <div class="form_block">
                            <input type="hidden" name="action" value="timeseries_add" />
                            <input type="submit" value="create"/>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div id="form-add-from-file">
                <form class="uniForm" id="add-from-file" method="POST" action="" style="display:{{ add_from_file_status }}">
                    <fieldset class="inlineLabels">
                        {{ add_from_file_form|as_uni_form }}
                        <div class="form_block">
                            <input type="hidden" name="action" value="add_from_file" />
                            <input type="submit" value="extract time series"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>         

        {% if t_serie %}
        <div class="photo-title">
            <h2>{{ t_serie.title }} {% if not t_serie.isActive %}(DELETED){% endif %}</h2>
        </div>
        <div class="photo-caption">
            <p><b>Description: </b>{{ t_serie.caption }}</p>
        </div>
        <div>
            <p><b>Date created: </b>{{ t_serie.date_created }}</p>
        </div>
        <div>
            {% ifnotequal t_serie.owner request.user%}
            <b>Owner: </b>
            <a href="{% url profile_detail t_serie.owner.username %}">{{ t_serie.owner.username }}</a>
            {% endifnotequal %}
        </div>
        <div>
            {% show_tags_for t_serie %}
        </div>

        {% ifequal request.user t_serie.owner %}
            <div class="form-toggle">
                <p><span id="edit-details-toggle">{% trans "Edit details" %}</span>
                <span id="change-privacy-toggle">{% trans "Privacy Settings" %}</span></p>
            {% with tserie_edit_form as edit_form %}
                {% include "state_machine/edit_details.html" %}
            {% endwith %}

            {% with privacy_form as privacy_form %}
                {% include "state_machine/edit_privacy.html" %}
            {% endwith %}
            </div>
        {% endifequal %}

        <div id="container" style="width: 700px; height: 300px; margin: 0 auto"></div>
        {% if t_serie.has_chunks %}
        <form method="GET" action="">
             <p>This time serie has {{ t_serie.datapoints_count }} datapoints. To view next {{ max_datapoints_display }} points as of <input style="width: 50px;" type="text" name="chunks_start" value="{{ chunks_start }}" /> please click <input type="submit" value="Display" /></p>
        </form>
        {% endif %}

        {% if t_serie.has_metadata %}
        <h2>{% trans "Metadata" %}</h2>

        {% with t_serie as tree_container %}
        {% ifequal request.user t_serie.owner %}
            {% comment %} PAPA is used to indicate which metadata buttons to render, 
                    depending on object type {% endcomment %}
            {% with "timeseries" as papa %}
                {% include "metadata/section_buttons.html" %}
            {% endwith %}
            <div id="form-add-section" style="padding: 0; margin: 0; display:none">
                {% include "metadata/section_add.html" %}
                <div id="default_properties_area" style="height: 209px; width: 500px; padding-left: 10px; overflow: auto;">
                    {% include "metadata/properties_list.html" %}
                </div>
            </div>
        {% endifequal %}

        <div style="padding: 6px 0px 0px 0px; margin: 0;">
                {% include "metadata/sections_tree.html" %}
            <div id="properties_area" style="width: 515px; padding-left: 210px">
                {% include "metadata/properties_list.html" %}
            </div>
        </div>
        {% endwith %}

        {% else %}
        {% ifequal request.user t_serie.owner %}
        <p>You don't have metadata assigned to this recording. You may want to annotate it by <a href="#" onclick="add_root_section({{ t_serie.id }}, 4)">adding the Metadata</a>.</p>
        {% endifequal %}
        {% endif %}
   
        {% else %}
        <p>No timeseries found.</p>
        <p>Try to enter new time series data manually, or <a href="{% url datafile_create %}">upload data</a> in files, and extract it further using the buttons above.</p>
        {% endif %}

        </div>
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/clear_selection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_root_section.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_details_privacy.js"></script>

    {% if t_serie.has_metadata %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/delete_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_property.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hide_metadata_forms.js"></script>
    {% with t_serie as tree_container %}
        {% include "metadata/load_meta_tree.html" %}
    {% endwith %}
    <script type="text/javascript">
        $(document.getElementById("sections")).ready(function() {
        // 3 - Section
            load_meta_tree(3);
            load_default_meta_tree(3);
            $('#add-property-toggle').click(function() {
                hide_metadata_forms("add-property");
                $('#add-property').toggle();
                return false;
            });
            if ($('#add-property .error').length) {
                $('#add-property').show();
                $('#add-property .error').autoscroll();
            };
            $('#import-odml-toggle').click(function() {
                hide_metadata_forms("import-odml");
                $('#add-odml').toggle();
                return false;
            });
        });
    </script>
    {% endif %}
    <script type="text/javascript">
            $('#id_selection').change(function() {
                var sel = $("#id_selection").find(':selected').val();
                if (sel=='0') {
                    $('#div_id_my_datasets').hide();
                    $('#div_id_new_dataset').hide();
                };
                if (sel=='1') {
                    $('#div_id_my_datasets').show();
                    $('#div_id_new_dataset').hide();
                };
                if (sel=='2') {
                    $('#div_id_my_datasets').hide();
                    $('#div_id_new_dataset').show();
                };
            })
            .trigger('change');
    </script>
{% endblock %}
