{% load i18n %}
{% load uni_form %}

                <form class="uniForm" id="edit-details" method="POST" action="" style="display:none">
                    <fieldset class="inlineLabels">
                        {{ edit_form|as_uni_form }}
                        <div class="form_block">
                            <input type="hidden" name="action" value="details_update" />
                            <input type="submit" value="{% trans "update" %}"/>
                        </div>
                    </fieldset>
                </form>
