# requirements for pinax base install

--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/
--extra-index-url=http://dist.pinaxproject.com/fresh-start/

Django==1.3.1
Pinax

django-debug-toolbar==0.8.5
django-staticfiles==1.1.2
django_compressor==1.0.1

django-mailer==0.2a1
django-email-confirmation==0.2
django-timezones==0.2
pytz==2011n
django-openid==0.3a1
python-openid==2.2.5

django-announcements==0.1.2
django-pagination==1.0.7
django-notification==0.2
idios==0.2a1
metron==0.1

pinax-theme-bootstrap==0.1.2
django-forms-bootstrap==2.0.3.post1


# further django internal

django-appconf==0.5
django-celery==2.5.5
django-extensions==0.8
django-picklefield==0.1.9
django-sorting==0.1
django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev
django-templatetag-sugar==0.1


# further django external

mysql-connector-python==0.3.2-devel
MySQL-python==1.2.3
amqplib==1.0.2
kombu==2.1.8
celery==2.5.3

python-dateutil==1.5
python-memcached==1.48


# requirements for spike_eval

texttable==0.8.0
matplotlib==1.1.1rc
PIL==1.1.7
SpikEval==0.6.3
SpikePlot==0.1.3
