# django - core django packages

MySQL-python>=1.2.3

Django==1.6

django-allauth==0.15
django-debug-toolbar==0.11
django-recaptcha==0.0.6
django-extensions==1.2.5

## old django packages

django-load==1.0.0
django-model-utils==1.1.0

django-pagination==1.0.7

django-sorting==0.1

django-taggit==0.9.3
django-taggit-templatetags==0.4.6dev

django-templatetag-sugar==0.1

django-notification==0.2
django-timezones==0.2

## EOF
