{% load i18n %}
{% load uni_form %}

<form class="uniForm" id="add-{{ obj }}" method="POST" action="" style="display:none">
    <fieldset class="inlineLabels">
        {{ object_form|as_uni_form }}
        <div class="form_block">
            <input type="hidden" name="action" value="new_{{ obj }}" />
            <input type="button" onclick="import_odML()" value="{% trans 'import' %}"/>
        </div>
    </fieldset>
    <input id="link-{{ obj }}-success-identifier" type="hidden" name="result" value="{{ section_id }}" />
    <input id="odml-data-section-identifier" type="hidden" name="result" value="{{ data }}" />
</form>
