{% load i18n %}

{% if properties or datasets or datafiles or timeseries %}
{% if properties %}
    <h2>{% trans "Properties" %}</h2>
    <table class="messages">
        <thead style="color: grey;">
            <tr><th>{% trans "Name" %}</th><th>{% trans "Value" %}</th><th>{% trans "Description" %}</th><th>{% trans "Comment" %}</th>
                {% if is_owner %}
                <th>{% trans "Action" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
                <tr>
                    <td><a href="#" alt="{{ property.prop_name_definition }}" title="{{ property.prop_name_definition }}">{{ property.prop_title }}</a></td>
                    <td>{{ property.prop_value }}</td>
                    <td>{{ property.prop_description }}</td>
                    <td>{{ property.prop_comment }}</td>
                    {% if is_owner %}
                        <td><nobr><a href="#" onclick="edit_property({{ property.id }}, 'get')">{% trans "edit" %}</a> <a 
                            href="#" onclick="delete_property({{ property.id }})">{% trans "delete" %}</a></nobr></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if datasets %}
    <h2>{% trans "Datasets" %}</h2>
    <table class="messages">
        <thead style="color: grey;">
            <tr><th>{% trans "Title" %}</th><th>{% trans "Date created" %}</th><th>{% trans "Objects" %}</th><th>{% trans "State" %}</th>
                {% if is_owner %}
                <th>{% trans "Action" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for dataset in datasets %}
                <tr>
                    <td><a href="{{ dataset.get_absolute_url }}">{{ dataset.title }}</a></td>
                    <td>{{ dataset.date_added }}</td>
                    <td>{{ dataset.objects_count_str }}</td>
                    <td>{% if dataset.is_Public %}<b style="color: red">Public</b>{% endif %}{% if dataset.is_Friendly %}Friendly{% endif %}{% if dataset.is_Private %}Private{% endif %}</td>
                    {% if is_owner %}
                        <td><nobr><a href="#" onclick="remove_object({{ section.id }}, {{ dataset.id }}, 'dataset')">{% trans "remove" %}</a></nobr></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if datafiles %}
    <h2>{% trans "Datafiles" %}</h2>
    <table class="messages">
        <thead style="color: grey;">
            <tr><th>{% trans "Name" %}</th><th>{% trans "Date recorded" %}</th><th>{% trans "Size" %}</th><th>{% trans "State" %}</th>
                {% if is_owner %}
                <th>{% trans "Action" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for datafile in datafiles %}
                <tr>
                    <td><a href="{{ datafile.get_absolute_url }}">{{ datafile.title }}</a></td>
                    <td>{{ datafile.date_added }}</td>
                    <td>{{ datafile.size }}</td>
                    <td>{% if datafile.is_Public %}<b style="color: red">Public</b>{% endif %}{% if datafile.is_Friendly %}Friendly{% endif %}{% if datafile.is_Private %}Private{% endif %}</td>
                    {% if is_owner %}
                        <td><nobr><a href="#" onclick="remove_object({{ section.id }}, {{ datafile.id }}, 'datafile')">{% trans "remove" %}</a></nobr></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if timeseries %}
    <h2>{% trans "Time Series Data" %}</h2>
    <table class="messages">
        <thead style="color: grey;">
            <tr><th>{% trans "Title" %}</th><th>{% trans "Date recorded" %}</th><th>{% trans "Type" %}</th><th>{% trans "State" %}</th>
                {% if is_owner %}
                <th>{% trans "Action" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for serie in timeseries %}
                <tr>
                    <td><a href="{{ serie.get_absolute_url }}">{{ serie.title }}</a></td>
                    <td>{{ serie.date_created }}</td>
                    <td>{% ifequal serie.data_type 10 %}ANALOG{% endifequal %}{% ifequal serie.data_type 20 %}SPIKE{% endifequal %}</td>
                    <td>{% if serie.is_Public %}<b style="color: red">Public</b>{% endif %}{% if serie.is_Friendly %}Friendly{% endif %}{% if serie.is_Private %}Private{% endif %}</td>
                    {% if is_owner %}
                        <td><nobr><a href="#" onclick="remove_object({{ section.id }}, {{ serie.id }}, 'timeseries')">{% trans "remove" %}</a></nobr></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% else %}
    <span><br>This section is empty.<br>Please use the navigation above to add new properties or link objects.</span>
{% endif %}
