{% load i18n %}
{% load uni_form %}

<form class="uniForm" id="edit-property" method="POST" action="" style="display:none">
    <fieldset class="inlineLabels">
        {{ prop_edit_form|as_uni_form }}
        <div class="form_block">
            <input type="hidden" name="action" value="property_add" />
            <input type="button" onclick="edit_property({{ property_id }}, 'update')" value="{% trans 'Update' %}"/>
        </div>
    </fieldset>
    <input id="edit-prop-success-identifier" type="hidden" name="result" value="{{ upd_result }}" />
</form>
