{% load i18n %}
{% load uni_form %}

<form class="uniForm" id="add-property" method="POST" action="" style="display:none">
    <fieldset class="inlineLabels">
        {{ prop_add_form|as_uni_form }}
        <div class="form_block">
            <input type="hidden" name="action" value="property_add" />
            <input type="button" onclick="add_property()" value="{% trans 'add' %}"/>
        </div>
    </fieldset>
    <input id="add-prop-success-identifier" type="hidden" name="result" value="{{ property_id }}" />
</form>
