{% load i18n %}
{% load uni_form %}


            <div class="form-toggle">
                <p>
            {% comment %}
				    <span onclick='var t = $.tree.focused(); if(t.selected) t.create({data: "New section"}); else alert("Select a node first");' id="add-temp-section">{% trans "Add section" %}</span>
            {% endcomment %}
				    <span onclick="hide_metadata_forms('add-section'); $('#form-add-section').toggle();" id="add-temp-section">{% trans "Add section" %}</span>
                    <span onclick="$.tree.focused().rename();" id="rename-section-button">{% trans "Rename" %}</span>
                    <span onclick="$.tree.focused().remove();" id="delete-section-button">{% trans "Delete" %}</span>
                    <span id="add-property-toggle">{% trans "Add Property" %}</span>
            {% ifnotequal papa "timeseries" %}
                {% ifequal papa "experiment" %}
                    <span id="link-dataset-toggle">{% trans "Link Dataset" %}</span>
                    <span id="link-datafile-toggle">{% trans "Link File" %}</span>
                {% endifequal %}
                {% ifequal papa "dataset" %}
                    <span id="link-datafile-toggle">{% trans "Link File" %}</span>
                {% endifequal %}
                    <span id="link-timeseries-toggle">{% trans "Link Time Series" %}</span>
            {% endifnotequal %}
                    <span id="import-odml-toggle">{% trans "Import" %}</span>
                    <span onclick="export_odML();" id="export-odml-toggle">Export</span>
			    </p>

                <div id="form-add-property">
                    {% include "metadata/property_add.html" %}
                </div>
                <div id="form-edit-property">
                    {% include "metadata/property_edit.html" %}
                </div>

            {% ifnotequal papa "timeseries" %}
                {% ifequal papa "experiment" %}
                    {% with dataset_link_form as object_form %}
                    {% with "dataset" as obj %}
                    <div id="form-link-dataset">
                        {% include "metadata/object_link.html" %}
                    </div>
                    {% endwith %}
                    {% endwith %}
                    {% with datafile_link_form as object_form %}
                    {% with "datafile" as obj %}
                    <div id="form-link-datafile">
                        {% include "metadata/object_link.html" %}
                    </div>
                    {% endwith %}
                    {% endwith %}
                {% endifequal %}

                {% ifequal papa "dataset" %}
                    {% with datafile_link_form as object_form %}
                    {% with "datafile" as obj %}
                    <div id="form-link-datafile">
                        {% include "metadata/object_link.html" %}
                    </div>
                    {% endwith %}
                    {% endwith %}
                {% endifequal %}

                {% with timeseries_link_form as object_form %}
                {% with "timeseries" as obj %}
                <div id="form-link-timeseries">
                    {% include "metadata/object_link.html" %}
                </div>
                {% endwith %}
                {% endwith %}
            {% endifnotequal %}

                {% with odml_import_form as object_form %}
                {% with "odml" as obj %}
                <div id="form-import-odml">
                    {% include "metadata/import_odml.html" %}
                </div>
                {% endwith %}
                {% endwith %}
            </div>         
  

