{% load metadata_extras %}
{% load i18n %}

    <div style="width: 200px;">
	<div class="demo source" id="sections" style="display: none;">
        {{ tree_container.get_metadata|metadata_tree }} 
  	</div>
    {% ifequal request.user tree_container.owner %}
    <div class="form-toggle" style="float: left; padding-top: 2px; width: 190px;">
    <p>
		<input type="text" value="" size="14" />
		<span onclick='var t = $.tree.focused(); if(t.selected) $.tree.focused().search($(this).prev().val()); else alert("Select any section in the tree first");'>{% trans "Search" %}</span>
		<span onclick='$.tree.focused().cut();'>{% trans "Cut" %}</span>
		<span onclick='$.tree.focused().copy();'>{% trans "Copy" %}</span> 
		<span onclick='$.tree.focused().paste();'>{% trans "Paste" %}</span>
    </p>
    </div>
    {% endifequal %}
    </div>
