{% load metadata_extras %}

<div style="width: 200px;">
	<div class="templates source" id="sections_defaults">
        {{ metadata_defaults|metadata_tree }} 
  	</div>
    <div style="float: left; padding-top: 2px;">To create a new section simply DRAG a section from the tree above and DROP it into any place of your section structure.</div>
</div>
<script type="text/javascript">
        function load_default_meta_tree(par_type) {
        $("#sections_defaults").tree({
		    ui : {theme_name : "classic"},
            types : {
                "default" : {
                    draggable: true,
                    renameable: false,
                    deletable: false,
                    creatable: false,
                    max_children: 50,
                }
            },
            rules: {
                drag_copy: "on",
            },
		    callback : { 
			    onselect : function (NODE, TREE_OBJ) {
                    $('#default_properties_area').hide();
				    var n_id =  NODE.id;
                    //n_id = n_id.replace("_copy", "");
                    var prop_url = '../../../metadata/properties_list/' + n_id + '/';
                    $('#default_properties_area').load(prop_url, function() {
                        $('#default_properties_area').show();
                        }
                    );
			    },
		    } 
	        });
        };
</script>
