{% extends "spike_dev/base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load spike_eval_tags %}
{% load taggit_extras %}
{% load webdesign %}

{% block head_title %}{% trans "DEVELOPMENT" %}{% endblock %}

{% block content %}
  <section>
    <h2>Context Description
      <small>descript the purpose of this view here</small>
    </h2>
    {% lorem 3 %}
  </section>

  <section>
    <h2>Plugin Container
      <small>plugins will each render their context here</small>
    </h2>
    <div>
      {% for ctx in ctx_list %}
        <div class="well">
          {% include ctx.temp %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
