{% load i18n %}

<p class="pull-right"><a href="#">Back to top</a></p>
<p class="legal">© 2012 <a href="http://www.g-node.org" target="_blank">G-Node</a>, all rights reserved</p>
<br/>
<span style="font-size: small;">
  <p>Build with
    <a href="http://http://pinaxproject.com/" target="_blank">Pinax</a> and the
    <a href="http://twitter.github.com/bootstrap/index.html"
       target="_blank">Twitter Bootstrap</a> theme. Icons from
    <a href="http://glyphicons.com">Glyphicons Free</a>.
  </p>
</span>
<br/>
