{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load uni_form %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block contentdiv_class %}welcome{% endblock %}

{% block navi_home_class %}aktiv{% endblock %}

{% block body %}
  <div class="newsbox">
    {% ifequal ACTUAL_SERVICE 'data_management' %}
      {% include "data_management/home_header.html" %}
    {% endifequal %}
    {% ifequal ACTUAL_SERVICE 'spike_evaluation' %}
      {% include "spike_evaluation/home_header.html" %}
    {% endifequal %}

    {% if not user.is_authenticated %}
      <div style="padding-left: 10px;">
        <form class="login uniForm" method="POST" action="">
          <fieldset class="inlineLabels">
            <div class="form_block">
              <a href="{% url acct_passwd_reset %}">
                {% trans "Forgot password?" %}
              </a>
            </div>
            {{ form|as_uni_form }}
            <div class="form_block">
              <input type="submit" value="{% trans "Log in &raquo;" %}"/>
            </div>
          </fieldset>
        </form>
      </div>

      {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% url acct_signup as signup_url %}
        <p>
          {% blocktrans %}
            No account yet? <a href="{{ signup_url }}">Sign up!</a>
          {% endblocktrans %}
        </p>
      {% endifsetting %}
    {% endif %}

    {% ifequal ACTUAL_SERVICE 'data_management' %}
      {% include "data_management/home_body.html" %}
    {% endifequal %}
    {% ifequal ACTUAL_SERVICE 'spike_evaluation' %}
      {% include "spike_evaluation/home_body.html" %}
    {% endifequal %}
  </div>
{% endblock %}

{% block extra_body %}
  <script>
    $("#id_username").focus();
  </script>
{% endblock %}
