{% extends 'about/base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Imprint' %}{% endblock %}
{% block heading %}{% trans 'Imprint' %}{% endblock %}

{% block content %}
  <section>
    <p>Verantwortlicher gem&auml;&szlig; §6 TDG<br>
      Dr. Thomas Wachtler-Kulla<br>
      Biozentrum<br>
      Ludwig-Maximilians-Universit&auml;t M&uuml;nchen<br>
      Großhaderner Straße 2 <br>
      82152 Martinsried-Planegg<br>
      Germany<br>
      <br>
      e-mail: wachtler at bio.lmu.de<br>
      Tel: +49 89 2180 74810<br>
      Fax: +49 89 2180 74803<br>
      <br>
      Inhaltlich Verantwortlicher gem&auml;&szlig; §10 Absatz 3 MDStV<br>
      Dr. Thomas Wachtler-Kulla (Anschrift wie oben)<br>
      <br>
      Haftungshinweis<br>
      Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r <br>
      die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind <br>
      ausschließlich deren Betreiber verantwortlich.</p>
  </section>
{% endblock %}
