{% load i18n %}
{% load pagination_tags %}
{% load truncate_filter %}
{% load extra_tagging_tags %}

        {% if objects %}
        {% autopaginate objects 5 %}
        <form id="remove-{{ obj }}s" method="POST" action="">
            {{ obj_remove_form.for_remove_choices.errors }}
            <table class="messages">
                <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Caption" %}</th>
                        <th>{% trans "Owner" %}</th>
                        <th>{% trans "Keywords" %}</th>
                        <th>{% trans "State" %}</th>
                        {% if is_creator or is_member %}
                            <th>{% trans "Action" %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for o in objects %}
                <tr>
                    <td>
                        <a href="{{ o.get_absolute_url }}">{{ o.title }}</a>
                    </td>
                    <td>{{ o.caption|truncate_dot:150|escape }}</td>
                    <td><a href="{% url profile_detail o.owner.username %}">{{ o.owner.username }}</a></td>
                    <td>{% show_tags_for o %}</td>
                    <td>{% if o.is_Public %}<b style="color: red">Public</b>{% endif %}{% if o.is_Friendly %}Friendly{% endif %}{% if o.is_Private %}Private{% endif %}</td>
                    {% if is_creator or is_member %}
                        <td><nobr><input id="id_for_remove_choices_{{ o.id }}" type="checkbox" 
                            value="{{ o.id }}" name="for_remove_choices" {% if not is_creator %}{% ifnotequal o.owner user %}disabled{% endifnotequal %}{% endif %}/></nobr>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
    	{% paginate %}
            {% if is_creator or is_member %}
                <input type="hidden" name="action" value="remove_{{ obj }}s" />
                <input type="submit" value="{% trans "remove selected" %}"/>
            {% endif %}
        </form>
        {% else %}
            <p>No {{ obj }}s are linked to the project.</p>
        {% endif %}  
