{% load i18n %}
{% load uni_form %}

<div class="form-toggle">
    <p>&raquo; <span id="add-{{ obj }}-toggle">Link {{ obj }}</span></p>
    <form class="uniForm" id="add-{{ obj }}" method="POST" action="" style="display:none">
        <fieldset class="inlineLabels">
            {{ object_form|as_uni_form }}
            <div class="form_block">
            <input type="hidden" name="action" value="new_{{ obj }}" />
            <input type="submit" value="link"/>
            </div>
        </fieldset>
    </form>
</div>
