{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}

{% block head_title %}{{ project.name }}{% endblock %}

{% block body %}

    {% if is_member or not project.private %}
    
    {% if user.is_authenticated%}
        <div class="right_panel">
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%">
                    {% for member in project.members.all %}
                        {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member.user 40 %}</div>
                            <div class="details"><a href="{% url profile_detail member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                    {% endfor %}
                    {% if project.members.all|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
                </table>
            </div>

            <h2>{% trans "Discussion Topics" %}{% if project.topics.all.count %} ({{ project.topics.all.count }}){% endif %}</h2>
            
            {% get_topics_for_group project as topic_queryset %}
            {% with topic_queryset|slice:":5" as topics %}
                {% if topics %}
                    {% for topic in topics|slice:":5" %}
                        {% show_topic topic %}
                    {% endfor %}
                    <p><a href="{% groupurl topic_list project %}">{% trans "more..." %}</a></p>
                {% else %}
                    {% groupurl topic_list project as new_topic_url %}
                    <p>None yet. {% if is_member %}<a href="{{ new_topic_url }}">Start one...</a>{% endif %}</p>
                {% endif %}
            {% endwith %}
            
            {% content_objects project "wiki.Article" as articles %}
            <h2>{% trans "Wiki Articles" %}{% if articles %} ({{ articles|length }}){% endif %}</h2>
            
            {% if articles %}
                <table class="topics">
                    {% for article in articles %}
                        {% show_teaser article %}
                    {% endfor %}
                </table>
                <p><a href="{% groupurl wiki_list project %}">{% trans "more..." %}</a></p>
            {% else %}
                {% groupurl wiki_list project as wiki_url %}
                <p>
                    {% if is_member %}
                        None yet. Go to the <a href="{{ wiki_url }}" title="wiki">wiki</a> to start a new article.
                    {% else %}
                        No wiki's created yet.
		    {% endif %}
                </p>
            {% endif %}
            
        </div>
    {% endif %}
    
{% comment %} ----------------------------------------------------------------------- {% endcomment %}

    <div style="width: 700px;">
        
        <h1>{% trans "Project" %} {{ project.name }}</h1>
        
        
         <div id="projecthead">
	        <table>
	          <tbody>
	          <tr>
	            <td><strong>{% trans "Slug:" %}</strong></td>
	            <td>{{ project.slug }}</td>
	          </tr>
	          <tr>
	            <td><strong>{% trans "Creator:" %}</strong> </td>
	            <td><a href="{% url profile_detail project.creator.username %}">{{ project.creator }}</a></td>
	          </tr>
	          <tr>
	            <td><strong>{% trans "Created:" %}</strong></td>
	            <td>{{ project.created|date:"Y-m-d H:i" }}</td>
	          </tr>
	          <tr>
	            <td><strong>&nbsp;</strong></td>
	            <td>{% show_tags_for project %}</td>
	          </tr>	          
		     </tbody>
		   </table>
        </div>          
	          
        <p>{{ project.description }}</p>
        
        {% if is_creator %}
            <div class="form-toggle">
                <p>&raquo; <span id="edit-project-toggle">{% trans "Edit details" %}</span></p>
                
                <form class="uniForm" id="edit-project" method="POST" action="" style="display:none">
                    <fieldset class="inlineLabels">
                        {{ project_form|as_uni_form }}
                        <div class="form_block">
                            <input type="hidden" name="action" value="update" />
                            <input type="submit" value="{% trans "update" %}"/>
                        </div>
                    </fieldset>
                </form>
            </div>
            
        {% endif %}
        
        {% if user.is_authenticated %}
            <div>
                {% if is_member %}
                    {% if is_creator %}
                        <p>You are the creator of this project.</p>
                        
                        <div class="form-toggle">
                            <p>&raquo; <span id="add-member-toggle">{% trans "Add new member" %}</span></p>
                            
                            <form class="uniForm" id="add-member" method="POST" action="" style="display:none">
                                <fieldset class="inlineLabels">
                                    {{ adduser_form|as_uni_form }}
                                    <div class="form_block">
                                        <input type="hidden" name="action" value="add" />
                                        <input type="submit" value="{% trans "add" %}"/>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

			{% if project.private %}
                        <p>{% silk "status_busy" %} <a href="#" onclick="$('#change_privacy_form').toggle(); return false;">{% trans "Make it Public" %}</a><p>
                         <form class="delete_form" id="change_privacy_form" action="{% url project_publish project.slug %}" method="POST" style="display: none;">
                             <input type="submit" value="{% trans "Publish Project" %}" />
                        </form>
	                {% else %}
                        <p>{% silk "status_online" %} <a href="#" onclick="$('#change_privacy_form').toggle(); return false;">{% trans "Retreat to Private" %}</a><p>
                         <form class="delete_form" id="change_privacy_form" action="{% url project_publish project.slug %}" method="POST" style="display: none;">
                             <input type="submit" value="{% trans "Make Project Private" %}" />
                        </form>
			{% endif %}

                        <p>{% silk "delete" %} <a href="#" onclick="$('#delete_project_form').toggle(); return false;">{% trans "Delete project" %}</a><p>
                         <form class="delete_form" id="delete_project_form" action="{% url project_delete project.slug %}" method="POST" style="display: none;">
                             <input type="submit" value="{% trans "Delete Project" %}" /> (only if there's no members in project)
                        </form>
                    {% else %}
                        <p>You are member of this project.</p>
                    {% endif %}
                {% else %}
                    <p>It is up to the creator of this project (<a href="{% url profile_detail project.creator.username %}">{{ project.creator }}</a>) to add you.</p>
                {% endif %}
            </div>
        {% endif %}

{% comment %} ----------------------------------------------------------------------- {% endcomment %}

        <h2>{% trans "Related Experiments" %}</h2>
            {% with "experiment" as obj %}
            {% if is_creator or is_member %}
                {% with exprt_form as object_form %}
                    {% include "projects/link_object.html" %}
                {% endwith %}
            {% endif %}

            {% with experiments as objects %}
            {% with exprt_remove_form as obj_remove_form %}
                    {% include "projects/linked_item.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

{% comment %} ----------------------------------------------------------------------- {% endcomment %}

        <h2>{% trans "Related Datasets" %}</h2>
            {% with "dataset" as obj %}
            {% if is_creator or is_member %}
                {% with dataset_form as object_form %}
                    {% include "projects/link_object.html" %}
                {% endwith %}
            {% endif %}

            {% with datasets as objects %}
            {% with dataset_remove_form as obj_remove_form %}
                    {% include "projects/linked_item.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

{% comment %} ----------------------------------------------------------------------- {% endcomment %}

        <h2>{% trans "Related Datafiles" %}</h2>
            {% with "datafile" as obj %}
            {% if is_creator or is_member %}
                {% with datafile_form as object_form %}
                    {% include "projects/link_object.html" %}
                {% endwith %}
            {% endif %}

            {% with datafiles as objects %}
            {% with datafile_remove_form as obj_remove_form %}
                    {% include "projects/linked_item.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

    </div>

    {% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-project-toggle').click(function() {
                $('#edit-project').toggle();
                $('#edit-project').autoscroll();
                return false;
            });
            if ($('#edit-project .error').length) {
                $('#edit-project').show();
                $('#edit-project .error').autoscroll();
            }
            $('#add-member-toggle').click(function() {
                $('#add-member').toggle();
                $('#add-member').autoscroll();
                return false;
            });
            if ($('#add-member .error').length) {
                $('#add-member').show();
                $('#add-member .error').autoscroll();
            }
            $('#add-experiment-toggle').click(function() {
                $('#add-experiment').toggle();
                $('#add-experiment').autoscroll();
                return false;
            });
            if ($('#add-experiment .error').length) {
                $('#add-experiment').show();
                $('#add-experiment .error').autoscroll();
            }
            $('#add-dataset-toggle').click(function() {
                $('#add-dataset').toggle();
                $('#add-dataset').autoscroll();
                return false;
            });
            if ($('#add-dataset .error').length) {
                $('#add-dataset').show();
                $('#add-dataset .error').autoscroll();
            }
            $('#add-datafile-toggle').click(function() {
                $('#add-datafile').toggle();
                $('#add-datafile').autoscroll();
                return false;
            });
            if ($('#add-datafile .error').length) {
                $('#add-datafile').show();
                $('#add-datafile .error').autoscroll();
            }
        });
    </script>
    
{% endblock %}
